.sec-articles {
	width: 40%;
	display: inline-block;
	border-right: 1px solid #e8e8e8;
}
.wrapperList {
	position: relative;
}
.ListArticles {
	padding-left: 0;
	li {
		list-style: none;
		margin: 0;
		width: 400px;
		position: relative;
		padding: 10px;
		&:hover {
			background: #f7f7f7;
		}
		h3 {
			margin: 5px 0;
			font-size: 16px;
		}
		p {
			margin: 0;
			color: #8e8d8d;
			font-size: 12px;
		}
		.actions {
			position: absolute;
			right: 10px;
			top: 20px;
			button {
				//float: right;
				display: inline-block;
				height: 24px;
				//width: 24px;
				margin: 0 5px 0 0;
			}
		}
	}
}
.modal__bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	.modal__wrapper {
		width: 60%;
		margin: 30px auto 0;
		label {
			margin-right: 10px;
		}
		input {
			padding: 5px;
			width: 60%;
		}
		button {
			margin: 20px 0 0 30px;
			width: 80px;
			height: 30px;
		}
	}
}
